<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="number" class="form-control" name="phone" placeholder="Enter Phone Number">
        <input type="number" class="form-control" name="count" placeholder="Enter Number of messages">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Click to Bomb</button>       
    </form> 
</body>
</html>